body{
    background-color: bisque;
    background-position: center;
}
.heading{
    background-color: brown;
    color: wheat;
    font-size: 23px;
    margin: 10px;
    width: 100%;
}

a{
    background-color: brown;
    color: aliceblue;
    font: 20px;
    margin: 5px;
    width: 200;
    border-radius: 20px; 
}
